apiVersion: v2
appVersion: 2026.1.7
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 1.x.x
  - condition: internalPostgresql.enabled
    name: postgresql
    alias: internalPostgresql
    repository: https://charts.bitnami.com/bitnami
    version: 11.x.x
  - name: replicated
    repository: oci://registry.replicated.com/library
    version: 1.16.0
    condition: replicated.enabled
description: CARTO Location Intelligence Platform. Unlock the power of spatial analysis in the cloud
engine: gotpl
home: https://github.com/CartoDB/carto-selfhosted-helm/tree/main/chart
keywords:
  - carto
  - data
  - spatial
  - gis
  - analysis
name: carto
sources:
  - https://carto.com/
annotations:
  minVersion: "2025.9.1"
version: 1.234.1
