apiVersion: v2
appVersion: 2024.4.17-rc.7
dependencies:
  - name: common
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
    version: 1.x.x
  - condition: internalPostgresql.enabled
    name: postgresql
    alias: internalPostgresql
    repository: https://charts.bitnami.com/bitnami
    version: 11.x.x
  - condition: internalRedis.enabled
    name: redis
    alias: internalRedis
    repository: https://charts.bitnami.com/bitnami
    version: 16.x.x
  - name: replicated
    repository: oci://registry.replicated.com/library
    version: 1.0.0-beta.21
    condition: replicated.enabled
  - name: zitadel
    repository: https://charts.zitadel.com
    version: 8.0.0

description: CARTO Location Intelligence Platform. Unlock the power of spatial analysis in the cloud
engine: gotpl
home: https://github.com/CartoDB/carto-selfhosted-helm/tree/main/chart
keywords:
  - carto
  - data
  - spatial
  - gis
  - analysis
name: carto
sources:
  - https://carto.com/
annotations:
  minVersion: "2023.10.25"
version: 1.110.1
