apiVersion: v1
kind: Secret
metadata:
  labels:
    troubleshoot.sh/kind: preflight
  name: {{ .Release.Name }}-preflight-config
  namespace: {{ .Release.Namespace | quote }}
stringData:
  preflight.yaml: |
    apiVersion: troubleshoot.sh/v1beta3
    kind: Preflight
    metadata:
      name: {{ .Release.Name }}-preflight
      namespace: {{ .Release.Namespace | quote }}
    spec:
      collectors:
        - clusterResources:
            exclude: true
    {{- include "carto.replicated.commonChecks.collectors" . | indent 6 }}
      analyzers:
    {{- include "carto.replicated.commonChecks.analyzers" . | indent 6 }}
