{{- if and (include "carto.baseUrl" .) (.Values.appConfigValues.httpCacheEnabled) (not .Values.cartoConfigValues.onlyRunRouter) }}
apiVersion: {{ include "common.capabilities.deployment.apiVersion" . }}
kind: Deployment
metadata:
  name: {{ template "carto.cdnInvalidatorSub.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: cdn-invalidator-sub
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
spec:
  # In order to publish the charts in official marketplaces, it's necessary that all components are able to start with default values without errors
  # Components which needs other configuration requirements such as client specific parameters should not boot if these values ​​are not provided
  {{- if .Values.cartoConfigValues.selfHostedTenantId }}
  replicas: {{ .Values.cdnInvalidatorSub.replicaCount }}
  {{- else }}
  replicas: 0
  {{- end }}
  {{- if .Values.cdnInvalidatorSub.updateStrategy }}
  strategy: {{- toYaml .Values.cdnInvalidatorSub.updateStrategy | nindent 4 }}
  {{- end }}
  selector:
    matchLabels: {{- include "common.labels.matchLabels" . | nindent 6 }}
      app.kubernetes.io/component: cdn-invalidator-sub
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/cdn-invalidator-sub/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/cdn-invalidator-sub/secret.yaml") . | sha256sum }}
        checksum/postgresql-password: {{ include "carto.postgresql.passwordChecksum" . }}
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
        {{- if .Values.cdnInvalidatorSub.podAnnotations }}
        {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.podAnnotations "context" $) | nindent 8 }}
        {{- end }}
      labels: {{- include "common.labels.standard" . | nindent 8 }}
        app.kubernetes.io/component: cdn-invalidator-sub
        {{- if .Values.cdnInvalidatorSub.podLabels }}
        {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.podLabels "context" $) | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ template "carto.commonSA.serviceAccountName" . }}
      {{- include "carto.imagePullSecrets" . | nindent 6 }}
      {{- if .Values.cdnInvalidatorSub.hostAliases }}
      hostAliases: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.hostAliases "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.cdnInvalidatorSub.affinity }}
      affinity: {{- include "common.tplvalues.render" ( dict "value" .Values.cdnInvalidatorSub.affinity "context" $) | nindent 8 }}
      {{- else }}
      affinity:
        podAffinity: {{- include "common.affinities.pods" (dict "type" .Values.cdnInvalidatorSub.podAffinityPreset "component" "cdnInvalidatorSub" "context" $) | nindent 10 }}
        podAntiAffinity: {{- include "common.affinities.pods" (dict "type" .Values.cdnInvalidatorSub.podAntiAffinityPreset "component" "cdnInvalidatorSub" "context" $) | nindent 10 }}
        nodeAffinity: {{- include "common.affinities.nodes" (dict "type" .Values.cdnInvalidatorSub.nodeAffinityPreset.type "key" .Values.cdnInvalidatorSub.nodeAffinityPreset.key "values" .Values.cdnInvalidatorSub.nodeAffinityPreset.values) | nindent 10 }}
      {{- end }}
      {{- if .Values.cdnInvalidatorSub.nodeSelector }}
      nodeSelector: {{- include "common.tplvalues.render" ( dict "value" .Values.cdnInvalidatorSub.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.cdnInvalidatorSub.tolerations }}
      tolerations: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.tolerations "context" .) | nindent 8 }}
      {{- end }}
      {{- if .Values.cdnInvalidatorSub.priorityClassName }}
      priorityClassName: {{ .Values.cdnInvalidatorSub.priorityClassName | quote }}
      {{- end }}
      {{- if .Values.cdnInvalidatorSub.schedulerName }}
      schedulerName: {{ .Values.cdnInvalidatorSub.schedulerName | quote }}
      {{- end }}
      {{- if .Values.cdnInvalidatorSub.podSecurityContext.enabled }}
      securityContext: {{- omit .Values.cdnInvalidatorSub.podSecurityContext "enabled" | toYaml | nindent 8 }}
      {{- end }}
      {{- if not .Values.diagnosticMode.enabled }}
      initContainers:
        {{- if .Values.cdnInvalidatorSub.initContainers }}
        {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.initContainers "context" $) | nindent 8 }}
        {{- end }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.cdnInvalidatorSub.terminationGracePeriodSeconds }}
      containers:
        - name: cdn-invalidator-sub
          image: {{ template "carto.cdnInvalidatorSub.image" . }}
          imagePullPolicy: {{ .Values.cdnInvalidatorSub.image.pullPolicy }}
          {{- if .Values.cdnInvalidatorSub.containerSecurityContext.enabled }}
          securityContext: {{- omit .Values.cdnInvalidatorSub.containerSecurityContext "enabled" | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.diagnosticMode.enabled }}
          command: {{- include "common.tplvalues.render" (dict "value" .Values.diagnosticMode.command "context" $) | nindent 12 }}
          {{- else if .Values.cdnInvalidatorSub.command }}
          command: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.command "context" $) | nindent 12 }}
          {{- else }}
          command:
            - /bin/sh
          {{- end }}
          {{- if .Values.diagnosticMode.enabled }}
          args: {{- include "common.tplvalues.render" (dict "value" .Values.diagnosticMode.args "context" $) | nindent 12 }}
          {{- else if .Values.cdnInvalidatorSub.args }}
          args: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.args "context" $) | nindent 12 }}
          {{ else }}
          args:
            - -ec
            - |
              exec node -r ./tsconfig-paths-bootstrap.js dist/consumers/cdn-invalidator-sub/index.js
          {{- end }}
          env:
            {{- include "carto._utils.generateSecretDefs" (dict "vars" (list
              "CARTO_SELFHOSTED_INSTANCE_ID"
              "VARNISH_PURGE_SECRET"
              "VARNISH_DEBUG_SECRET"
            ) "context" $ ) | nindent 12 }}
            {{- if .Values.cdnInvalidatorSub.extraEnvVars }}
            {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.extraEnvVars "context" $) | nindent 12 }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ template "carto.cdnInvalidatorSub.configmapName" . }}
            {{- $secretContent := include "carto._utils.generateSecretObjects" (dict "vars" (list
              "CARTO_SELFHOSTED_INSTANCE_ID"
              "VARNISH_PURGE_SECRET" 
              "VARNISH_DEBUG_SECRET"
            ) "context" $ ) -}}
            {{- if $secretContent }}
            - secretRef:
                name: {{ include "carto.cdnInvalidatorSub.secretName" . }}
            {{- end }}
            {{- if .Values.cdnInvalidatorSub.extraEnvVarsCM }}
            - configMapRef:
                name: {{ include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.extraEnvVarsCM "context" $) }}
            {{- end }}
            {{- if .Values.cdnInvalidatorSub.extraEnvVarsSecret }}
            - secretRef:
                name: {{ include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.extraEnvVarsSecret "context" $) }}
            {{- end }}
          {{- if .Values.cdnInvalidatorSub.resources }}
          resources: {{- toYaml .Values.cdnInvalidatorSub.resources | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.cdnInvalidatorSub.containerPorts.http }}
          {{- if not .Values.diagnosticMode.enabled }}
          {{- if .Values.cdnInvalidatorSub.livenessProbe.enabled }}
          livenessProbe:
            {{- include "common.tplvalues.render" (dict "value" (omit .Values.cdnInvalidatorSub.livenessProbe "enabled") "context" $) | nindent 12 }}
            {{- include "carto.healthCheckProbe" . | nindent 12 }}
          {{- else if .Values.cdnInvalidatorSub.customLivenessProbe }}
          livenessProbe: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.customLivenessProbe "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.cdnInvalidatorSub.readinessProbe.enabled }}
          readinessProbe:
            {{- include "common.tplvalues.render" (dict "value" (omit .Values.cdnInvalidatorSub.readinessProbe "enabled") "context" $) | nindent 12 }}
            {{- include "carto.healthCheckProbe" . | nindent 12 }}
          {{- else if .Values.cdnInvalidatorSub.customReadinessProbe }}
          readinessProbe: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.customReadinessProbe "context" $) | nindent 12 }}
          {{- end }}
          {{- if .Values.cdnInvalidatorSub.startupProbe.enabled }}
          startupProbe:
            {{- include "common.tplvalues.render" (dict "value" (omit .Values.cdnInvalidatorSub.startupProbe "enabled") "context" $) | nindent 12 }}
            {{- include "carto.healthCheckProbe" . | nindent 12 }}
          {{- else if .Values.cdnInvalidatorSub.customStartupProbe }}
          startupProbe: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.customStartupProbe "context" $) | nindent 12 }}
          {{- end }}
          {{- end }}
          {{- if .Values.cdnInvalidatorSub.lifecycleHooks }}
          lifecycle: {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.lifecycleHooks "context" $) | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: gcp-default-service-account-key
              mountPath: {{ include "carto.google.secretMountDir" . }}
              readOnly: true
            {{- if and .Values.externalProxy.enabled (or .Values.externalProxy.sslCA .Values.externalProxy.sslCAConfigmap.name) }}
            - name: proxy-ssl-ca
              mountPath: {{ include "carto.proxy.configMapMountDir" . }}
              readOnly: true
            {{- end }}
          {{- if .Values.cdnInvalidatorSub.extraVolumeMounts }}
          {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.extraVolumeMounts "context" $) | nindent 12 }}
          {{- end }}
        {{- if .Values.cdnInvalidatorSub.sidecars }}
        {{- include "common.tplvalues.render" ( dict "value" .Values.cdnInvalidatorSub.sidecars "context" $) | nindent 8 }}
        {{- end }}
      volumes:
        - name: gcp-default-service-account-key
          secret:
            secretName: {{ include "carto.google.secretName" . }}
            items:
              - key: {{ include "carto.google.secretKey" . }}
                path: {{ include "carto.google.secretMountFilename" . }}
        {{- if and .Values.externalProxy.enabled (or .Values.externalProxy.sslCA .Values.externalProxy.sslCAConfigmap.name) }}
        - name: proxy-ssl-ca
          configMap:
            name: {{ include "carto.proxy.configMapName" . }}
        {{- end }}
        {{- if .Values.cdnInvalidatorSub.extraVolumes }}
        {{- include "common.tplvalues.render" (dict "value" .Values.cdnInvalidatorSub.extraVolumes "context" $) | nindent 8 }}
        {{- end }}
{{- end }}
