apiVersion: embeddedcluster.replicated.com/v1beta1
kind: Config
spec:
  version: 2.13.5+k8s-1.33
  domains:
    proxyRegistryDomain: registry.self-hosted.carto.com
    replicatedAppDomain: replicated.self-hosted.carto.com
  unsupportedOverrides:
    k0s: |
      config:
        spec:
          api:
            extraArgs:
              service-node-port-range: 80-32767
