{{- if not .Values.workspaceApi.existingConfigMap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "carto.workspaceApi.fullname" . }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
    app.kubernetes.io/component: workspace-api
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  AUTH0_AUDIENCE: "carto-cloud-native-api"
  AUTH0_DOMAIN: {{ .Values.cartoConfigValues.cartoAuth0CustomDomain | quote }}
  AUTH0_NAMESPACE: "http://app.carto.com"
  BIGQUERY_OAUTH2_CLIENT_ID: {{ .Values.appConfigValues.bigqueryOauth2ClientId | quote }}
  {{- if .Values.cartoConfigValues.featureFlagsOverrides }}
  CARTO_FEATURE_FLAGS_FILE_PATH: {{ include "carto.featureFlags.configMapMountDir" . | quote }}
  {{- end }}
  CARTO_SELFHOSTED_AUTH0_CLIENT_ID: {{ .Values.cartoConfigValues.cartoAuth0ClientId | quote }}
  CARTO_SELFHOSTED_CARTO_DW_LOCATION: {{ .Values.cartoConfigValues.cartoSelfhostedDwLocation | quote }}
  CARTO_SELFHOSTED_DOMAIN: {{ .Values.appConfigValues.selfHostedDomain | quote }}
  CARTO_SELFHOSTED_GCP_PROJECT_ID: {{ .Values.cartoConfigValues.selfHostedGcpProjectId | quote }}
  CARTO_SELFHOSTED_NAME: {{ .Values.cartoConfigValues.selfHostedTenantId | quote }}
  CARTO_SELFHOSTED_VERSION: {{ .Chart.AppVersion | quote }}
  CARTO_SELFHOSTED_DEPLOYMENT: {{ .Values.appConfigValues.deploymentType | quote }}
  {{ if or (.Values.appSecrets.googleMapsApiKey.value) (and .Values.appSecrets.googleMapsApiKey.existingSecret.name .Values.appSecrets.googleMapsApiKey.existingSecret.key) }}
  GOOGLE_BASEMAPS_ENABLED: "true"
  {{- end }}
  {{- if .Values.cartoConfigValues.cartoDataWarehouseEnabled }}
  CARTO_DATA_WAREHOUSE_ENABLED: "true"
  {{- end }}
  SSO_ORGANIZATION_ID: {{ .Values.appConfigValues.ssoOrganizationId | quote }}
  ROUTER_HTTPS_ENABLED: {{ .Values.tlsCerts.httpsEnabled | quote }}
  WORKSPACE_API_IMAGE_NAME: {{ template "carto.workspaceApi.image" . }}
  {{- if .Values.replicated.enabled }}
  CARTO_SELFHOSTED_REPLICATED_SDK_DOMAIN: "replicated.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }}:3000"
  {{- end }}
  {{- if eq .Values.appConfigValues.logLevel "debug" }}
  CARTO_TRACING_MODE: "local"
  {{- end }}
  EVENT_BUS_PROJECT_ID: {{ .Values.cartoConfigValues.cartoAccGcpProjectId | quote }}
  EVENT_BUS_TOPIC: "projects/{{ .Values.cartoConfigValues.cartoAccGcpProjectId }}/topics/{{ .Values.cartoConfigValues.cartoAccGcpProjectRegion }}-event-bus"
  EXPORTS_GCS_BUCKET_NAME: {{ .Values.appConfigValues.workspaceExportsBucket | quote }}
  {{- if not .Values.commonBackendServiceAccount.enableGCPWorkloadIdentity }}
  GOOGLE_APPLICATION_CREDENTIALS: {{ include "carto.google.secretMountAbsolutePath" . }}
  {{- end }}
  LOG_LEVEL: {{ .Values.appConfigValues.logLevel | quote }}
  NODE_OPTIONS: {{ template "carto.workspaceApi.nodeOptions" . }}
  PUBSUB_MODE: "pull"
  PUBSUB_PROJECT_ID: {{ .Values.cartoConfigValues.selfHostedGcpProjectId | quote }}
  PUBSUB_CUSTOM_DOMAIN: {{ .Values.cartoConfigValues.pubsubDomain | quote }}
  PUBSUB_USE_REST_API: {{ .Values.cartoConfigValues.usePubSubRestApi | quote }}
  REDIS_CACHE_PREFIX: "onprem"
  REDIS_HOST: {{ include "carto.redis.host" . | quote }}
  REDIS_PORT: {{ include "carto.redis.port" . | quote }}
  REDIS_TLS_ENABLED: {{ .Values.externalRedis.tlsEnabled | quote }}
  {{- if and .Values.externalRedis.tlsEnabled .Values.externalRedis.tlsCA }}
  REDIS_TLS_CA: {{ include "carto.redis.configMapMountAbsolutePath" . }}
  {{- end }}
  {{- if not (.Values.internalRedis.enabled) }}
  USING_EXTERNAL_REDIS: "true"
  {{- end }}
  WORKSPACE_ERROR_RESPONSE_STACK_TRACE: {{ .Values.cartoConfigValues.enableErrorResponseStackTrace | quote }}
  {{- if .Values.appConfigValues.aiFeaturesEnabled }}
  WORKSPACE_LITELLM_BASE_URL: "http://{{ include "carto.aiProxy.fullname" . }}.{{ .Release.Namespace }}.svc.{{ .Values.clusterDomain }}"
  {{- end }}
  WORKSPACE_PORT: {{ .Values.workspaceApi.containerPorts.http  | quote }}
  WORKSPACE_POSTGRES_DB: {{ include "carto.postgresql.databaseName" . | quote }}
  WORKSPACE_POSTGRES_HOST: {{ include "carto.postgresql.host" . | quote }}
  WORKSPACE_POSTGRES_PORT: {{ include "carto.postgresql.port" . | quote }}
  WORKSPACE_POSTGRES_USER: {{ include "carto.postgresql.user" . | quote }}
  WORKSPACE_POSTGRES_SSL_ENABLED: {{ .Values.externalPostgresql.sslEnabled | quote }}
  {{- if and .Values.externalPostgresql.sslEnabled .Values.externalPostgresql.sslCA }}
  WORKSPACE_POSTGRES_SSL_CA: {{ include "carto.postgresql.configMapMountAbsolutePath" . }}
  {{- end }}
  {{- if .Values.externalPostgresql.awsEksPodIdentityEnabled }}
  CARTO_SELFHOSTED_AWS_RDS_METADATA_REGION: {{ .Values.externalPostgresql.awsRdsRegion | quote }}
  CARTO_SELFHOSTED_AWS_EKS_POD_IDENTITY_METADATA_DB_ENABLED: {{ .Values.externalPostgresql.awsEksPodIdentityEnabled | quote }}
  {{- end }}
  IMPORT_AWS_CUSTOM_BUCKET_ROLE_ARN: {{ .Values.appConfigValues.importAwsRoleArn | quote }}
  WORKSPACE_PUBSUB_DATA_UPDATES_SUBSCRIPTION: "projects/{{ .Values.cartoConfigValues.selfHostedGcpProjectId }}/subscriptions/data-updates-workspace-sub"
  WORKSPACE_PUBSUB_DATA_UPDATES_TOPIC: "projects/{{ .Values.cartoConfigValues.selfHostedGcpProjectId }}/topics/data-updates"
  WORKSPACE_PUBSUB_TENANT_BUS_TOPIC: "projects/{{ .Values.cartoConfigValues.selfHostedGcpProjectId }}/topics/tenant-bus"
  WORKSPACE_TENANT_ID: {{ .Values.cartoConfigValues.selfHostedTenantId | quote }}
  WORKSPACE_SYNC_DATA_ENABLED: "true"
  WORKSPACE_IMPORTS_BUCKET: {{ .Values.appConfigValues.workspaceImportsBucket | quote }}
  WORKSPACE_IMPORTS_PUBLIC: {{ .Values.appConfigValues.workspaceImportsPublic | quote }}
  WORKSPACE_IMPORTS_PROVIDER: {{ .Values.appConfigValues.storageProvider | quote }}
  WORKSPACE_THUMBNAILS_BUCKET: {{ .Values.appConfigValues.workspaceThumbnailsBucket | quote }}
  WORKSPACE_THUMBNAILS_PUBLIC: {{ .Values.appConfigValues.workspaceThumbnailsPublic | quote }}
  WORKSPACE_THUMBNAILS_PROVIDER: {{ .Values.appConfigValues.storageProvider | quote }}
  {{- if eq .Values.appConfigValues.storageProvider "gcp" }}
  {{- if .Values.appConfigValues.googleCloudStorageProjectId }}
  WORKSPACE_IMPORTS_PROJECTID: {{ .Values.appConfigValues.googleCloudStorageProjectId | quote }}
  WORKSPACE_THUMBNAILS_PROJECTID: {{ .Values.appConfigValues.googleCloudStorageProjectId | quote }}
  {{- end }}
  {{- if ( include "carto.googleCloudStorageServiceAccountKey.used" . ) }}
  WORKSPACE_IMPORTS_KEYFILENAME: {{ include "carto.googleCloudStorageServiceAccountKey.secretMountAbsolutePath" . }}
  WORKSPACE_THUMBNAILS_KEYFILENAME: {{ include "carto.googleCloudStorageServiceAccountKey.secretMountAbsolutePath" . }}
  {{- else }}
  {{- if not .Values.commonBackendServiceAccount.enableGCPWorkloadIdentity }}
  WORKSPACE_IMPORTS_KEYFILENAME: {{ include "carto.google.secretMountAbsolutePath" . }}
  WORKSPACE_THUMBNAILS_KEYFILENAME: {{ include "carto.google.secretMountAbsolutePath" . }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if eq .Values.appConfigValues.storageProvider "s3" }}
  WORKSPACE_THUMBNAILS_REGION: {{ .Values.appConfigValues.awsS3Region | quote }}
  WORKSPACE_IMPORTS_REGION: {{ .Values.appConfigValues.awsS3Region | quote }}
  {{- if .Values.appConfigValues.awsEksPodIdentityBucketsEnabled }}
  CARTO_SELFHOSTED_AWS_EKS_POD_IDENTITY_S3_ENABLED: {{ .Values.appConfigValues.awsEksPodIdentityBucketsEnabled | quote }}
  {{- end }}
  {{- end }}
  {{- if eq .Values.appConfigValues.storageProvider "azure-blob" }}
  WORKSPACE_THUMBNAILS_STORAGE_ACCOUNT: {{ .Values.appConfigValues.azureStorageAccount | quote }}
  WORKSPACE_IMPORTS_STORAGE_ACCOUNT: {{ .Values.appConfigValues.azureStorageAccount | quote }}
  {{- end }}
  {{- if .Values.appConfigValues.workloadIdentityConnection.enabled }}
  WORKSPACE_WORKLOAD_IDENTITY_WORKFLOWS_TEMP: {{ .Values.appConfigValues.workloadIdentityConnection.workflowsTempLocation | quote }}
  WORKSPACE_WORKLOAD_IDENTITY_BILLING_PROJECT: {{ .Values.appConfigValues.workloadIdentityConnection.billingProject | quote }}
  WORKSPACE_WORKLOAD_IDENTITY_SERVICE_ACCOUNT_EMAIL: {{ .Values.appConfigValues.workloadIdentityConnection.serviceAccountEmail | quote }}
  WORKSPACE_WORKLOAD_IDENTITY_CONNECTION_OWNER_ID: {{ .Values.appConfigValues.workloadIdentityConnection.connectionOwner | quote }}
  {{- end }}
  WORKSPACE_DO_PROJECT_ID: {{ .Values.cartoConfigValues.dataObservatoryProjectId | quote }}
  {{- if .Values.appConfigValues.defaultAtLocation.bigquery }}
  AT_LOCATION_BIGQUERY: {{ .Values.appConfigValues.defaultAtLocation.bigquery }}
  {{- end }}
  {{- if .Values.appConfigValues.defaultAtLocation.snowflake }}
  AT_LOCATION_SNOWFLAKE: {{ .Values.appConfigValues.defaultAtLocation.snowflake }}
  {{- end }}
  {{- if .Values.appConfigValues.defaultAtLocation.redshift }}
  AT_LOCATION_REDSHIFT: {{ .Values.appConfigValues.defaultAtLocation.redshift }}
  {{- end }}
  {{- if .Values.appConfigValues.defaultAtLocation.postgres }}
  AT_LOCATION_POSTGRES: {{ .Values.appConfigValues.defaultAtLocation.postgres }}
  {{- end }}
  {{- if .Values.appConfigValues.defaultDoLocation.bigquery }}
  DO_LOCATION_BIGQUERY: {{ .Values.appConfigValues.defaultDoLocation.bigquery }}
  {{- end }}
  {{- if .Values.appConfigValues.defaultDoLocation.snowflake }}
  DO_LOCATION_SNOWFLAKE: {{ .Values.appConfigValues.defaultDoLocation.snowflake }}
  {{- end }}
  {{- if .Values.appConfigValues.defaultDoLocation.redshift }}
  DO_LOCATION_REDSHIFT: {{ .Values.appConfigValues.defaultDoLocation.redshift }}
  {{- end }}
  {{- if .Values.appConfigValues.defaultDoLocation.postgres }}
  DO_LOCATION_POSTGRES: {{ .Values.appConfigValues.defaultDoLocation.postgres }}
  {{- end }}
  {{- if .Values.externalProxy.enabled }}
  HTTP_PROXY: {{ include "carto.proxy.computedConnectionString" . | quote }}
  http_proxy: {{ include "carto.proxy.computedConnectionString" . | quote }}
  HTTPS_PROXY: {{ include "carto.proxy.computedConnectionString" . | quote }}
  https_proxy: {{ include "carto.proxy.computedConnectionString" . | quote }}
  GRPC_PROXY: {{ include "carto.proxy.computedConnectionString" . | quote }}
  grpc_proxy: {{ include "carto.proxy.computedConnectionString" . | quote }}
  NODE_TLS_REJECT_UNAUTHORIZED: {{ ternary "1" "0" .Values.externalProxy.sslRejectUnauthorized | quote }}
  {{- if gt (len .Values.externalProxy.excludedDomains) 0 }}
  NO_PROXY: {{ join "," .Values.externalProxy.excludedDomains | quote }}
  no_proxy: {{ join "," .Values.externalProxy.excludedDomains | quote }}
  {{- end }}
  {{- if or .Values.externalProxy.sslCA .Values.externalProxy.sslCAConfigmap.name }}
  NODE_EXTRA_CA_CERTS: {{ include "carto.proxy.configMapMountAbsolutePath" . | quote }}
  {{- end }}
  {{- end }}
{{- end }}
